name: Test
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  test-action:
    name: Test Action
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-14, windows-2022]
    steps:
      - name: Checkout Project
        uses: actions/checkout@v5.0.0
        with:
          repository: threeal/cpp-starter
          ref: v2.0.0

      - name: Checkout Action
        uses: actions/checkout@v5.0.0
        with:
          path: ctest-action
          sparse-checkout: |
            dist
            action.yml
          sparse-checkout-cone-mode: false

      - name: Setup Ninja
        uses: seanmiddleditch/gha-setup-ninja@v6

      - name: Build Project
        uses: threeal/cmake-action@v2.1.0
        with:
          generator: Ninja
          options: MY_FIBONACCI_ENABLE_TESTS=ON

      - name: Test Project
        uses: ./ctest-action
